<!DOCTYPE html>
  <html>

    <head>
      <title>BALISH</title>
      <meta charset="utf-8">
      <link rel="stylesheet" href="/area.scss">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    </head>

    <body>
      <div class="inner">
        <header>
          <div class="header-container">

            <div class="header-logo">
              <a href="/">BALISH</a>
              <p>~バリ島旅行のお供に~</p>
            </div>
            <div class="menu-bars">
              <ol>
                <li>
                  <button id="btn-bar" class="top-btn" type="">
                    <i class="fas fa-bars"></i>
                  </button>
                </li>
                <script>
                  $('#btn-bar').on('click',function(){
                    $("#btn-search").slideToggle();
                    $("#btn-login").slideToggle();
                    $("#btn-setting").slideToggle();
                  });
                </script>
                <li>
                  <form  id="search-form" action="" method="get" autocomplete="off">
                    <input id="search-bar" type="text" name="s" placeholder="サイト内を検索">
                    <button id="btn-search" class="top-btn" type="submit">
                      <i class="fas fa-search"></i>
                    </button>
                  </form>
                  <script>
                    $('#btn-search').hover(
                      function(){
                        $('#search-bar').css('display','block');
                      },
                      function(){
                        $('#search-bar').css('display','none');
                    });
                    $('#search-bar').hover(
                      function(){
                        $('#search-bar').css('display','block');
                      },
                      function(){
                        $('#search-bar').css('display','none');
                    });
                  </script>
                </li>
                <li>
                  <button id="btn-login" class="top-btn" type="" >
                    <i class="fas fa-sign-in-alt"></i>
                  </button>
                </li>
                <li>
                  <button id="btn-setting" class="top-btn" type="" >
                    <i class="fas fa-cog"></i>
                  </button>
                </li>
              </ol>
            </div>

          </div>
        </header>

        <main>

          <div class="bali-map">
            <%= image_tag("area_map.png", :size => "1100x600") %>
          </div>

          <div class="article-wrapper">

            <div class="article">

              <div class="article-image">
                <%= image_tag("art-img-1.jpg", :size => "300x300") %>
              </div>
              <div class="article-content">
                <h1>タイトル</h1>
                <p>内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。</p>
              </div>

            </div>

            <div class="article">

              <div class="article-image">
                <%= image_tag("art-img-2.jpg", :size => "300x300") %>
              </div>
              <div class="article-content">
                <h1>タイトル</h1>
                <p>内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。</p>
              </div>

            </div>

            <div class="article">

              <div class="article-image">
                <%= image_tag("art-img-3.jpg", :size => "300x300") %>
              </div>
              <div class="article-content">
                <h1>タイトル</h1>
                <p>内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。</p>
              </div>

            </div>

            <div class="article">

              <div class="article-image">
                <%= image_tag("art-img-4.jpg", :size => "300x300") %>
              </div>
              <div class="article-content">
                <h1>タイトル</h1>
                <p>内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。</p>
              </div>

            </div>

            <div class="article">

              <div class="article-image">
                <%= image_tag("article-image-1.jpg", :size => "300x300") %>
              </div>
              <div class="article-content">
                <h1>タイトル</h1>
                <p>内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。</p>
              </div>

            </div>

          </div>

        </main>

        <footer>

          <div class="footer-container">

          </div>

        </footer>

      </div>
    </body>
  </html>
