
          <div class="article-wrapper">

            <div class="article">

              <div class="article-image">
                <%= image_tag("art-img-1.jpg", :size => "300x300") %>
              </div>
              <div class="article-content">
                <h1>タイトル</h1>
                <p>内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。</p>
              </div>

            </div>

            <div class="article">

              <div class="article-image">
                <%= image_tag("art-img-2.jpg", :size => "300x300") %>
              </div>
              <div class="article-content">
                <h1>タイトル</h1>
                <p>内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。</p>
              </div>

            </div>

            <div class="article">

              <div class="article-image">
                <%= image_tag("art-img-3.jpg", :size => "300x300") %>
              </div>
              <div class="article-content">
                <h1>タイトル</h1>
                <p>内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。</p>
              </div>

            </div>

            <div class="article">

              <div class="article-image">
                <%= image_tag("art-img-4.jpg", :size => "300x300") %>
              </div>
              <div class="article-content">
                <h1>タイトル</h1>
                <p>内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。</p>
              </div>

            </div>

            <div class="article">

              <div class="article-image">
                <%= image_tag("article-image-1.jpg", :size => "300x300") %>
              </div>
              <div class="article-content">
                <h1>タイトル</h1>
                <p>内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。内容。</p>
              </div>

            </div>

          </div>

        </main>

        <footer>

          <div class="footer-container">

          </div>

        </footer>
