<head>
  <link rel="stylesheet" href="/home.scss">
</head>

<div class="top-container">

  <div class="user-status">
    <div class="login-user">
      <% if session[:user_id] %>
        <div class="user-information">
          <img src="#" id="user-image">
          <p id="user-name"><%= @current_user.name %></p>
        </div>
        <div class="user-function">
            <li>
              <%= link_to(
              "新規投稿",
              "/posts/new",
              :class => "user-link"
              )%>
            </li>
            <li>
              <%= link_to(
              "ログアウト",
              "/logout",
              :method => "post",
              :class => "user-link"
              )%>
            </li>
        </div>
      <% else %>
        <div class="non-login">   
          <p>ログインしてください。</p>
          <br>
          <%= link_to(
          "ログイン",
          "/login",
          :class => "login-btn"
          )%>
        </div>
      <% end %>
    </div>
  </div>

  <div class="up-to-date">
    <div class="article-title">
      <h2>最新記事</h2>
    </div>
    <% @posts.each do |post| %>
    <div class="new-article">
      <img src="<%= "/#{post.image_name}" %>">
      <div class="article-content">
        <h3><%= post.title %></h3>
        <div class="txt"><%= post.content %></div>
      </div>
    </div>
    <% end %>
  </div>

  <div class="empty">

  </div>

</div>
